<a-assets>
    <img id="ground" src="/img/cool-gray-61nfwad1bullevu4.jpg">
    <img id="mooncity" src="/img/Matematik_i_mooncity.jpg">
</a-assets>
<script src="https://binzume.github.io/aframe-xylayout/dist/xylayout-all.min.js"></script>
<script type="module" src="/js/UtilityFunctions.js"></script>
<script type="module" src="/js/GameLoader.js"></script>
<script defer type="module" src="/js/menuComponent.js"></script>
<script defer type="module" src="/js/GameHubScene.js"></script>
<script defer type="module" src="/js/GameHub/GameGrid.js"></script>
<script defer type="module" src="/js/GameHub/Game.js"></script>
<!-- walls  ground celling gang gang-->
<a-GameScene></a-GameScene>
<a-menu></a-menu>
<a-light color="#ffffff" position="1 1 1"></a-light>
