@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <title>Hello world!</title>
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </head>
    <body>
        <p>This is the index</p>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </body>
</html>