@page
@model V8_R8_Hub.Pages.Admin.IndexModel
@{
}


<html>
<head>
	<title>Hello world!</title>
</head>
<body>
	<ul>
		<li><a href="/Admin/CreateGame">Create game</a></li>
		<li><a href="/Admin/GameList">Game list</a></li>
		<li><a href="/swagger">Swagger</a></li>
	</ul>
	<img src="/api/Game/e15eb571-dcc0-400c-99cf-514534761ab0/assets/1589990868_707_Light-Minimalist-Wallpapers-2020.jpg" />
</body>
</html>
